<header id="main-header">
  <a href="/" class="name">
    <h1>
      <span class="first-name">Alison</span>
      <span class="last-name">Thomas</span>
    </h1>
  </a>
</header>
<div class="content">

  {{outlet}}

</div>
<footer id="footer">
  &#169; 2013 - Alison Thomas
</footer>


